.misek {
    background-color: #FFF7DC;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 200px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.musName {
    font-weight: 900;
}